@import url("bootstrap.min.css");
@import url("font-awesome.min.css");

html {
  font-size: 75%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "montserratlight", sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #747474;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #c5a47e;
}

::selection {
  background-color: #c5a47e;
  color: #fff;
}

-webkit-::selection {
  background-color: #c5a47e;
  color: #fff;
}

::-moz-selection {
  background-color: #c5a47e;
  color: #fff;
}

/* 1.2 Typography */
@font-face {
  font-family: "montserratlight";
  src: url("../fonts/montserrat/Montserrat-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratsemibold";
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

.type-24 {
  .h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 8vmin;
    line-height: 1.2;
    letter-spacing: 0.32em;
    text-transform: uppercase;
    color: #3d3d3d;
  }

  h2,
  .h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 2.1875em;
    letter-spacing: 0.32em;
    text-transform: uppercase;
    color: #3d3d3d;
  }

  h3,
  .h3 {
    font-family: "montserratsemibold";
    font-size: 1.875em;
    line-height: 1.1;
    font-weight: normal;
    color: #3d3d3d;
  }

  h4,
  .h4 {
    font-family: "montserratsemibold";
    font-size: 1.125em;
    line-height: 1.35;
    font-weight: normal;
    color: #3d3d3d;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  h1 a,
  .h1 a,
  h2 a,
  .h2 a,
  h3 a,
  .h3 a,
  h4 a,
  .h4 a {
    color: inherit;
  }

  h1 a:hover,
  .h1 a:hover,
  h2 a:hover,
  .h2 a:hover,
  h3 a:hover,
  .h3 a:hover,
  h4 a:hover,
  .h4 a:hover {
    text-decoration: none;
  }

  p {
    margin-bottom: 1.6em;
  }

  b,
  strong {
    font-family: "Montserrat", sans-serif;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  a {
    color: #c5a47e;
    -webkit-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
  }

  a:hover,
  a:focus {
    color: #c5a47e;
    outline: none;
  }

  a:focus {
    text-decoration: none;
  }

  /* 1.7 Content styles */
  .layout {
    position: relative;
    overflow: hidden;
  }

  .text-primary {
    color: #c5a47e;
  }

  .page-lines {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .page-lines .col-line {
    padding: 0;
  }

  .page-lines .line {
    position: absolute;
    left: 0;
    width: 1px;
    height: 50000px;
    background-color: #f4f4f4;
  }

  .page-lines .col-line:last-child .line:last-child {
    left: auto;
    right: 0;
  }

  .row-base {
    margin-top: -3em;
  }

  .col-base {
    margin-top: 3em;
  }

  .section {
    position: relative;
    margin-top: 7.1em;
    margin-bottom: 7.1em;
  }

  .section-header {
    position: relative;
  }

  .section-title {
    text-align: center;
    margin: 0;
    margin-left: 0.32em;
  }

  .fade-title-left,
  .fade-title-right {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 10.8em;
    line-height: 1;
    color: #000;
    position: absolute;
    left: 0;
    top: 0.03em;
    opacity: 0.035;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .fade-title-right {
    left: 100%;
  }

  .section-content {
    margin-top: 7.1em;
  }
}

/* 11.3 Min width 1200px */
@media (min-width: 1200px) {
  html {
    font-size: 100%;
    /* Header */
  }
  .main-header {
    padding-left: 0;
    /* Project Details */
  }
  .project-details-info {
    width: 44%;
  }
}
.blog {
  position: relative;
  margin-bottom: 3em;
  margin-right: 1px;
  background-color: #fff;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.08);
}

.blog-thumbnail {
  position: static;
  padding-right: 5px;
}

.blog-thumbnail-bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 5px;
  padding: 0;
  border-radius: 0.25em 0 0 0.25em;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 0;
}

.blog-thumbnail-img img {
  border-radius: 0.25em 0.25em 0 0;
}

.blog-info {
  padding: 3.3em 3em;
}

.blog-tags {
  font-family: "montserratsemibold";
  margin-top: -0.8em;
}

.blog-tags a {
  display: inline-block;
  font-size: 0.75em;
  line-height: 1;
  padding: 0.77em 1.1em 0.77em;
  border-radius: 2em;
  background-color: #ededed;
  text-transform: uppercase;
  color: #6f6f6f;
  margin-top: 0.8em;
  margin: 0.8em 0.7em 0 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.blog-tags a:hover {
  background-color: #c5a47e;
  text-decoration: none;
  color: #fff;
}

.blog-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.333;
  margin: 1.8em 0 0.8em;
}

.blog-info p {
  margin-bottom: 0;
}

.blog-meta {
  font-size: 0.88em;
  color: #b4b4b4;
  overflow: hidden;
}

.blog-meta .author {
  float: left;
}

.blog-meta .author a {
  font-family: "montserratsemibold";
  color: #b4b4b4;
}

.blog-meta .author a:hover {
  text-decoration: none;
  color: #c5a47e;
}

.blog-meta .time {
  float: right;
}

.blog-info .blog-meta {
  border-top: 1px solid #ededed;
  margin-top: 1.7em;
  padding-top: 1.7em;
}

.read-more {
  display: inline-block;
  font-family: "montserratsemibold";
  font-size: 0.88em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.read-more {
  padding-right: 2em;
  background: url(../images/read-more.png) right 50% no-repeat;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.read-more:hover {
  text-decoration: none;
  background-position: 95% 50%;
}

.blog-info .read-more {
  margin-top: 2.8em;
}

.breadcrumb {
  padding: 0px 0px;
  margin-bottom: 0px;
  list-style: none;
  background-color: transparent;
  color: #fff;
  border-radius: 0px;
  z-index: 99999;
  position: relative;
  text-align: right;
}

.breadcrumb > .active {
  color: #fff;
}

.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #c5a47e;
}

.slide-number {
  position: absolute;
  z-index: 4;
  left: 6%;
  top: 1.32%;
}

.bg-breadcrumb {
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-nav-mobile li a .fa-angle-down {
  float: right;
  font-size: 16px;
}

@media (max-width: 991px) {
  .blog-thumbnail {
    padding-right: 15px;
  }
}
