@import url("bootstrap.min.css");
@import url("font-awesome.min.css");
html {
  font-size: 75%;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: "montserratlight", sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #747474; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #c5a47e; }

::selection {
  background-color: #c5a47e;
  color: #fff; }

-webkit-::selection {
  background-color: #c5a47e;
  color: #fff; }

::-moz-selection {
  background-color: #c5a47e;
  color: #fff; }

/* 1.2 Typography */
@font-face {
  font-family: "montserratlight";
  src: url("../fonts/montserrat/Montserrat-Light.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "montserratsemibold";
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
  font-weight: normal;
  font-style: normal; }

.type-6 h1, .type-6 .h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 8vmin;
  line-height: 1.2;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  color: #3d3d3d; }
.type-6 h2, .type-6 .h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2.1875em;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  color: #3d3d3d; }
.type-6 h3, .type-6 .h3 {
  font-family: "montserratsemibold";
  font-size: 1.875em;
  line-height: 1.1;
  font-weight: normal;
  color: #3d3d3d; }
.type-6 h4, .type-6 .h4 {
  font-family: "montserratsemibold";
  font-size: 1.125em;
  line-height: 1.35;
  font-weight: normal;
  color: #3d3d3d;
  letter-spacing: 0.2em;
  text-transform: uppercase; }
.type-6 h1 a, .type-6 .h1 a, .type-6 h2 a, .type-6 .h2 a, .type-6 h3 a, .type-6 .h3 a, .type-6 h4 a, .type-6 .h4 a {
  color: inherit; }
.type-6 h1 a:hover, .type-6 .h1 a:hover, .type-6 h2 a:hover, .type-6 .h2 a:hover, .type-6 h3 a:hover, .type-6 .h3 a:hover, .type-6 h4 a:hover, .type-6 .h4 a:hover {
  text-decoration: none; }
.type-6 p {
  margin-bottom: 1.6em; }
.type-6 b, .type-6 strong {
  font-family: "Montserrat", sans-serif; }
.type-6 ul {
  list-style: none;
  padding-left: 0; }
.type-6 a {
  color: #c5a47e;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out; }
.type-6 a:hover, .type-6 a:focus {
  color: #c5a47e;
  outline: none; }
.type-6 a:focus {
  text-decoration: none; }
.type-6 .layout {
  position: relative;
  overflow: hidden; }
.type-6 .text-primary {
  color: #c5a47e; }
.type-6 .page-lines {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
.type-6 .page-lines .col-line {
  padding: 0; }
.type-6 .page-lines .line {
  position: absolute;
  left: 0;
  width: 1px;
  height: 50000px;
  background-color: #f4f4f4; }
.type-6 .page-lines .col-line:last-child .line:last-child {
  left: auto;
  right: 0; }
.type-6 .row-base {
  margin-top: -3em; }
.type-6 .col-base {
  margin-top: 3em; }
.type-6 .section {
  position: relative;
  margin-top: 7.1em;
  margin-bottom: 7.1em; }
.type-6 .section-header {
  position: relative; }
.type-6 .section-title {
  text-align: center;
  margin: 0;
  margin-left: 0.32em; }
.type-6 .fade-title-left, .type-6 .fade-title-right {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 10.8em;
  line-height: 1;
  color: #000;
  position: absolute;
  left: 0;
  top: 0.03em;
  opacity: 0.035;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.type-6 .fade-title-right {
  left: 100%; }
.type-6 .section-content {
  margin-top: 7.1em; }
.type-6 .main-inner .page-lines {
  z-index: 1;
  opacity: 0.15; }
.type-6 .main-inner .page-lines .line {
  border-color: #fff; }
.type-6 .main-blog .page-lines, .type-6 .main-projects .page-lines, .type-6 .main-project .page-lines, .type-6 .main-contacts .page-lines {
  opacity: 0.08; }
.type-6 .clients {
  text-align: center; }
.type-6 .clients-list {
  margin: -3.8em -1.95em 0; }
.type-6 .clients-list .client {
  display: inline-block;
  vertical-align: middle;
  padding: 3.8em 1.95em 0;
  margin: 0; }
.type-6 .clients-list .client img {
  opacity: 0.2;
  display: block;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
.type-6 .clients-list .client a:hover img {
  opacity: 1; }
.type-6 .breadcrumb {
  padding: 0px 0px;
  margin-bottom: 0px;
  list-style: none;
  background-color: transparent;
  color: #fff;
  border-radius: 0px;
  z-index: 99999;
  position: relative;
  text-align: right; }
.type-6 .breadcrumb > .active {
  color: #fff; }
.type-6 .breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #c5a47e; }
.type-6 .slide-number {
  position: absolute;
  z-index: 4;
  left: 6%;
  top: 1.32%; }
.type-6 .bg-breadcrumb {
  background-repeat: no-repeat;
  background-size: cover; }
.type-6 .navbar-nav-mobile li a .fa-angle-down {
  float: right;
  font-size: 16px; }
@media (max-width: 991px) {
  .type-6 .blog-thumbnail {
    padding-right: 15px; } }
