@import url("bootstrap.min.css");
@import url("font-awesome.min.css");
html {
  font-size: 75%;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: "montserratlight", sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #747474; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #c5a47e; }

::selection {
  background-color: #c5a47e;
  color: #fff; }

-webkit-::selection {
  background-color: #c5a47e;
  color: #fff; }

::-moz-selection {
  background-color: #c5a47e;
  color: #fff; }

@font-face {
  font-family: "montserratlight";
  src: url("../fonts/montserrat/Montserrat-Light.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "montserratsemibold";
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
  font-weight: normal;
  font-style: normal; }

.type-0 h1, .type-0 .h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 8vmin;
  line-height: 1.2;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  color: #3d3d3d; }
.type-0 h2, .type-0 .h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2.1875em;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  color: #3d3d3d; }
.type-0 h3, .type-0 .h3 {
  font-family: "montserratsemibold";
  font-size: 1.875em;
  line-height: 1.1;
  font-weight: normal;
  color: #3d3d3d; }
.type-0 h4, .type-0 .h4 {
  font-family: "montserratsemibold";
  font-size: 1.125em;
  line-height: 1.35;
  font-weight: normal;
  color: #3d3d3d;
  letter-spacing: 0.2em;
  text-transform: uppercase; }
.type-0 h1 a, .type-0 .h1 a, .type-0 h2 a, .type-0 .h2 a, .type-0 h3 a, .type-0 .h3 a, .type-0 h4 a, .type-0 .h4 a {
  color: inherit; }
.type-0 h1 a:hover, .type-0 .h1 a:hover, .type-0 h2 a:hover, .type-0 .h2 a:hover, .type-0 h3 a:hover, .type-0 .h3 a:hover, .type-0 h4 a:hover, .type-0 .h4 a:hover {
  text-decoration: none; }
.type-0 p {
  margin-bottom: 1.6em; }
.type-0 b, .type-0 strong {
  font-family: "Montserrat", sans-serif; }
.type-0 ul {
  list-style: none;
  padding-left: 0; }
.type-0 a {
  color: #c5a47e;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out; }
.type-0 a:hover, .type-0 a:focus {
  color: #c5a47e;
  outline: none; }
.type-0 a:focus {
  text-decoration: none;
  /* 1.7 Content styles */ }
.type-0 .layout {
  position: relative;
  overflow: hidden; }
.type-0 .text-primary {
  color: #c5a47e; }
.type-0 .row-base {
  margin-top: -3em; }
.type-0 .col-base {
  margin-top: 3em; }
.type-0 .section {
  position: relative;
  margin-top: 7.1em;
  margin-bottom: 7.1em; }
.type-0 .section-header {
  position: relative; }
.type-0 .section-title {
  text-align: center;
  margin: 0;
  margin-left: 0.32em; }
.type-0 .fade-title-left, .type-0 .fade-title-right {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 10.8em;
  line-height: 1;
  color: #000;
  position: absolute;
  left: 0;
  top: 0.03em;
  opacity: 0.035;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.type-0 .fade-title-right {
  left: 100%; }
.type-0 .section-content {
  margin-top: 7.1em; }
.type-0 .header-inner .vertical-panel-content {
  bottom: auto;
  top: 12.2vmin; }
.type-0 .brand-panel {
  position: absolute;
  z-index: 4;
  left: 0;
  top: 0;
  width: 39.47vmin;
  height: 40.7vmin;
  padding: 4.8vmin 2em 4.8vmin;
  background-color: #f6f5f3;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
.type-0 .brand {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4vmin;
  line-height: 1;
  color: #3d3d3d; }
.type-0 .brand:hover, .type-0 .brand:focus {
  color: #3d3d3d;
  text-decoration: none; }
.type-0 .brand-name {
  position: absolute;
  z-index: -1;
  bottom: -0.4em;
  right: -0.37em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 8.75em;
  line-height: 1;
  opacity: 0.05; }
.type-0 .slide-number {
  font-family: "Oswald", sans-serif;
  margin-top: 8vmin; }
.type-0 .slide-number .current-number {
  font-size: 8vmin;
  letter-spacing: 0.1em;
  line-height: 1; }
.type-0 .slide-number sup {
  display: inline-block;
  position: relative;
  top: -3px;
  font-size: 2vmin;
  letter-spacing: 0.1em;
  color: #3d3d3d;
  vertical-align: top;
  margin-left: 0.46em; }
.type-0 .slide-number sup .delimiter {
  display: inline-block;
  margin-right: 0.4em; }
.type-0 .header-phone {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 0.81em;
  letter-spacing: 0.32em;
  position: absolute;
  z-index: 3;
  color: #fff;
  left: 50vmin;
  top: 5.9vmin; }
@media (max-width: 480px) {
  .type-0 .header-phone {
    display: none; } }
@media (min-width: 992px) and (max-width: 1200px) {
  .type-0 .header-phone {
    display: none; } }
.type-0 .vertical-panel, .type-0 .vertical-panel-content {
  position: absolute;
  width: 19.735vmin;
  left: 0;
  bottom: 0;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
.type-0 .vertical-panel {
  z-index: 3;
  height: 10000px;
  background-color: #f6f5f3; }
.type-0 .vertical-panel-content {
  z-index: 4; }
.type-0 .vertical-panel-info {
  margin-bottom: 3.5vmin; }
.type-0 .vertical-panel-info .line {
  height: 5vmin;
  width: 1px;
  margin: 15px auto 0;
  background-color: #c5c4c2; }
.type-0 .vertical-panel-title {
  font-family: "montserratsemibold";
  font-size: 10px;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 1em;
  color: #3d3d3d;
  position: relative;
  left: -6px;
  margin: 0 auto;
  width: 1px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0; }
@media (max-height: 850px) {
  .type-0 .vertical-panel-title {
    display: none; } }
.type-0 .social-list {
  margin-bottom: 3.5vmin; }
.type-0 .social-list li {
  margin-top: 3.8vmin; }
.type-0 .social-list .fa {
  font-size: 2.4vmin;
  color: #c5c4c2; }
.type-0 .social-list .fa:hover {
  color: #c5a47e;
  text-decoration: none; }
.type-0 .main {
  position: relative;
  overflow: hidden;
  min-height: 420px; }
.type-0 .main-inner {
  position: relative;
  z-index: 1;
  min-height: 0;
  padding: 33.7vmin 0 11.7vmin; }
.type-0 .main-inner:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #171717;
  opacity: 0.6; }
.type-0 .main-projects, .type-0 .main-contacts {
  padding: 34.2vmin 0 34vmin; }
.type-0 .main-project {
  padding: 33.7vmin 0 11vmin;
  background-size: cover;
  background-position: center 0; }
.type-0 .main-contacts:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 1;
  background: -webkit-linear-gradient(bottom, rgba(39, 39, 39, 0.95) 0%, rgba(39, 39, 39, 0.95) 26%, rgba(39, 39, 39, 0.6) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, rgba(39, 39, 39, 0.95) 0%, rgba(39, 39, 39, 0.95) 26%, rgba(39, 39, 39, 0.6) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
.type-0 .main-header {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: right;
  padding-left: 38.5vmin; }
.type-0 .main-header h1 {
  color: #fff;
  margin: 0;
  margin-right: -0.32em; }
.type-0 .main-inner .page-lines {
  z-index: 1;
  opacity: 0.15; }
.type-0 .main-inner .page-lines .line {
  border-color: #fff; }
.type-0 .main-blog .page-lines, .type-0 .main-projects .page-lines, .type-0 .main-project .page-lines, .type-0 .main-contacts .page-lines {
  opacity: 0.08; }
.type-0 .bg-breadcrumb {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover; }
.type-0 .breadcrumb {
  padding: 0px 0px;
  margin-bottom: 0px;
  list-style: none;
  background-color: transparent;
  color: #fff;
  border-radius: 0px;
  z-index: 99999;
  position: relative;
  text-align: right; }

.breadcrumb > .active {
  color: #fff; }

.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #c5a47e; }

.slide-number {
  position: absolute;
  z-index: 4;
  left: 8%;
  top: 10.32%; }

.bg-breadcrumb {
  background-repeat: no-repeat;
  background-size: cover; }

.navbar-nav-mobile li a .fa-angle-down {
  float: right;
  font-size: 16px; }

@media (max-width: 991px) {
  .blog-thumbnail {
    padding-right: 15px; } }
